
.trending__container{
    background-color: #57585a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}





// background-image: url("../../assets/images/search.svg");