.show-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1438px;

    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin-top: 12.5rem;
   
    }
    &__wrapper{
        height: 100%;
    }

    &__img{
        width: 15.625rem;
        margin: 2rem;
        border-radius: 3.125rem;
    }

    &__detail {
        background-color: white;
        border-radius: 1.5625rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        opacity: 80%;
    }
}

.btn__link{
    text-decoration: none;
}

.btn {
  margin: 1.5rem;
  height: 2rem;
  width: 20%;
  border-radius: 50px;
  background-color: white;
  opacity: 80%;
}

// h1, h2, p {
//     color: white;
// }