

::placeholder {
    color:black;
  }
  
  
  .searchbar {
    display: flex;
    justify-content: center;
   
  }



.input {
  background-repeat: no-repeat;
  background-position: left;
  background-position: 4%;
  padding-left: 2rem;
  height: 100%;
  outline: none;
  border-radius: .25rem;


}


::placeholder {
  color:black;
}


.logo {
  width: max;
}
