// .video{
//     position: absolute;
//     top: 0;
//     z-index: -1;
// }

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 12.5rem;
}

.image {
    border-radius: 200px; 
}